<br>
<br>
<br>
<div class="homepage container-fluid text-center mt-5" style="width: 100%;">
<p>Create a new chirp or view the dashboard.</p>
      <button type="button" id="chirpBtn" class="btn btn-lg">+New Chirp</button>
</div>

<script src="/js/create.js"></script>