<br>
<br>
<br>
<div class="homepage container-fluid text-center mt-5" style="width: 100%;">
<p>You've made it! Please login to create a new post or view the dashboard.</p>
      <button type="button" class="btn btn-lg">+New Post</button>
</div>