:root {
    --color-palette-1: #606c38;
    --color-palette-2: #283618;
    --color-palette-3: #fefae0;
    --color-palette-4: #dda15e;
    --color-palette-5: #bc6c25;
}

nav {
    background-color: var(--color-palette-1);
}

nav ul {
    list-style: none;
    align-items: center;
}

nav ul li {
    color: var(--color-palette-3);
}

nav h1 {
    color: var(--color-palette-4)
}

body {
    background-color: var(--color-palette-3);
}

.card-header, 
.card-body {
    margin: 0;
    padding-left: .50em;
}

.card-header {
    background-color: var(--color-palette-2) !important;
}

.card-header h5,
.login h3 {
    color: var(--color-palette-5);
}

.card-header .small {
    color: var(--color-palette-3);
}

.comment-container {
    width: 75%;
}

.comment {
    background-color: var(--color-palette-4) !important; 
    color: var(--color-palette-2) !important;
}

.card a {
    color: var(--color-palette-4);
}

.btn {
    background-color: var(--color-palette-1);
    color: var(--color-palette-3);
}

.login label {
    color: var(--color-palette-1);
}