:root {
    --color-palette-1: #8ecae6;
    --color-palette-2: #219ebc;
    --color-palette-3: #023047;
    --color-palette-4: #ffb703;
    --color-palette-5: #fb8500;
}

nav {
    background-color: var(--color-palette-3);
}

nav ul {
    list-style: none;
    align-items: center;
}

nav ul li a {
    color: var(--color-palette-1) !important;
    background-color: var(--color-palette-3) !important;
    text-decoration: none;
    border: none !important;
}

nav ul li a:hover {
    color: var(--color-palette-5) !important;
    text-decoration: none;
    border: 1px solid var(--color-palette-5) !important;
    border-radius: 5px !important;
}

nav h1 {
    color: var(--color-palette-4);
    min-width: fit-content;
}

.navbar-toggler-icon {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='RGB(251,133,0)' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
}

.navbar-toggler {
    color: var(--color-palette-4);
}

body {
    background-color: var(--color-palette-1);
}

.card-header, 
.card-body {
    margin: 0;
    padding-left: .50em;
}

.card-header {
    background-color: var(--color-palette-4) !important;
}

.card-header h5,
.card-header span {
    color: var(--color-palette-3);
}

.card-header .small {
    color: var(--color-palette-2);
}

.comment-container {
    width: 75%;
}

.comment {
    background-color: var(--color-palette-3) !important; 
    color: var(--color-palette-4) !important;
}

.card a {
    color: var(--color-palette-4);
}

.btn {
    background-color: var(--color-palette-3);
    color: var(--color-palette-4);
}

.btn:hover {
    background-color: var(--color-palette-4);
    color: var(--color-palette-3);
}

.login h3 {
    color: var(--color-palette-5);
}

.login label,
.login small {
    color: var(--color-palette-3) !important;
}

#deleteBtn {
    background-color: #7A1712;
}

#deleteBtn:hover {
    background-color: var(--color-palette-4);
    color: #7A1712;
}
